mmiss/MMiSS.dtd

<!-- miniMMiSS -- MMiSSLaTeX for beginners -->

<!ENTITY % unit "atom">

<!ENTITY % conceptualatom "textfragment">
                      
<!ENTITY % embeddeditem "include|reference">
<!ENTITY % text         "(#PCDATA|%embeddeditem;)">

<!ELEMENT atom %conceptualatom;>
<!ATTLIST atom label ID #IMPLIED>
<?MMiSSDisplay atom : green box ?>

<!-- <!ELEMENT textfragment (%text;)*> -->
<!ELEMENT textfragment (#PCDATA|%embeddeditem;)*> 
<?MMiSSDisplay textfragment : white triangle ?>

<!ELEMENT include EMPTY>
<!ATTLIST include included    ENTITY #REQUIRED
                  status (present|absent) "absent">

<!ELEMENT reference textfragment>
<!ATTLIST reference referenced ENTITY #REQUIRED
                    status (present|absent) "absent">

<!ENTITY % group  "package|section|paragraph">

<!ELEMENT paragraph (%unit;)+>
<!ATTLIST paragraph label     ID #IMPLIED
                    paratitle CDATA #IMPLIED>
<?MMiSSDisplay paragraph : yellow triangle ?>

<!ELEMENT section (%group;)+>
<!ATTLIST section label        ID #IMPLIED
                  sectiontitle CDATA #REQUIRED>
<?MMiSSDisplay section : red box ?>

<!ELEMENT package (section)+>
<!ATTLIST package label        ID #IMPLIED
                  packagetitle CDATA #REQUIRED>
<?MMiSSDisplay package : blue box ?>


