mmiss/MMiSS.dtd

<?daVinci-display (FooBarBAz : ?>
<!-- miniMMiSS -- MMiSSLaTeX for beginners -->

<!ENTITY % unit "atom">

<!ENTITY % conceptualatom "textfragment">
                      
<!ENTITY % embeddeditem "include|reference">
<!ENTITY % text         "(#PCDATA|%embeddeditem;)">

<!ELEMENT atom %conceptualatom;>
<!ATTLIST atom label CDATA #IMPLIED>

<!-- <!ELEMENT textfragment (%text;)*> -->
<!ELEMENT textfragment (#PCDATA|%embeddeditem;)*> 

<!ELEMENT include EMPTY>
<!ATTLIST include included    CDATA #REQUIRED
                  status (present|absent) "absent">

<!ELEMENT reference textfragment>
<!ATTLIST reference referenced CDATA #REQUIRED
                    status (present|absent) "absent">

<!ENTITY % group  "package|section|paragraph">

<!ELEMENT paragraph (%unit;)+>
<!ATTLIST paragraph label     CDATA #IMPLIED
                    paratitle CDATA #IMPLIED>

<!ELEMENT section (%group;)+>
<!ATTLIST section label        CDATA #IMPLIED
                  sectiontitle CDATA #REQUIRED>

<!ELEMENT package (section)+>
<!ATTLIST package label        CDATA #IMPLIED
                  packagetitle CDATA #REQUIRED>


