mmiss/MMiSS.dtd

<?daVinci-display (FooBarBAz : ?>
<!-- miniMMiSS -- MMiSSLaTeX for beginners -->

<!ENTITY % unit "atom">

<!ENTITY % conceptualatom "textfragment">
                      
<!ENTITY % embeddeditem "include|reference">
<!ENTITY % text         "(#PCDATA|%embeddeditem;)">

<!ELEMENT atom %conceptualatom;>
<!ATTLIST atom atomid CDATA #IMPLIED>

<!-- <!ELEMENT textfragment (%text;)*> -->
<!ELEMENT textfragment (#PCDATA|%embeddeditem;)*> 

<!ELEMENT include EMPTY>
<!ATTLIST include includedid    CDATA #REQUIRED>

<!ELEMENT reference textfragment>
<!ATTLIST reference referenceid CDATA #REQUIRED>

<!ENTITY % group  "package|section|paragraph">

<!ELEMENT paragraph (%unit;)+>
<!ATTLIST paragraph paraid    CDATA #IMPLIED
                    paratitle CDATA #IMPLIED>

<!ELEMENT section (%group;)+>
<!ATTLIST section sectionid    CDATA #IMPLIED
                  sectiontitle CDATA #REQUIRED>

<!ELEMENT package (section)+>
<!ATTLIST package packageid    CDATA #IMPLIED
                  packagetitle CDATA #REQUIRED>


